@import '@fontsource/fira-mono';
@import "@fontsource/space-mono";
@import '@fontsource/libre-baskerville';

:root {
	--font-body: 'Libre Baskerville';
	--font-nixie: "Space Mono", monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
	min-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
    @apply text-gray-800;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1 {
	font-family: var(--font-nixie);
	letter-spacing: 0.2rem;
    padding-left: 1rem;
	font-size: 5rem;
	text-align: left;
	@apply text-gray-400;
}

h3 {
	font-family: var(--font-body);
	font-size: 1rem;
	font-weight: normal;
	padding: .1rem 1rem;
	@apply: text-gray-100;
}

p {
	font-family: var(--font-body);
	font-size: 1rem;
    line-height: 150%;
}

/*Anything outside of media queries is for MOBILE
  This is Mobile first approach.
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    @media (min-width: 992px) {
        html {
            font-size: 8px;
        }
     }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 10px;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    html {
        font-size: 11px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .sidebar {
        display: none;
    }

    .page-content-motivation {
        display: flex;
    }

    .content-wrapper {
        width: 90% !important;
        left: 5% !important;
    }



}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) { 
    html {
        font-size: 12px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) { 
    html {
        font-size: 14px;
    }

    .content-wrapper-lyrics {
        max-width: 1200px !important;
    }
}

.header-font {
    font-family: var(--font-nixie);
	letter-spacing: 0.2rem;
	font-size: 2.7rem;
    font-weight: bold;
	text-align: left;
    @apply text-gray-400;
}

.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem;
}

.page-content-motivation {
	display: flex;
    flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-size: cover;
}

.content-wrapper {
    height: 95%;
    width: 80%;
    left: 20%;
    position: absolute;
    max-width: 1040px;
    display: flex;
    flex-direction: column;
}

.text-wrapper {
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: left;
    padding: 2rem 3rem;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.text-wrapper p {
    width: 100%;
    font-size: 1.2rem;
    line-height: 200%;
    padding: 0.5rem 2rem;
}

.reset-button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
}